# Environments
.venv/
env/
venv/
ENV/

# Python build/cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local config & Logs
.env
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project specific
node_modules/
dist/
build/